<h2>Registrarse</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "last name" }%>
    <%= f.input :birth_date,
                as: :string,
                class: 'form-control',
                required: true,
                autofocus: true ,
                label: 'Fecha de nacimiento:' ,
                input_html: { data: {provide: 'datepicker', 'date-format' =>"yyyy-mm-dd"}, class: 'birthdate-picker' }%>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} caracteres como minimo" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :credit_card,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "credit card" }%>
    <%= f.input :cvv,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "CVV" }%>
    <%= f.input :expiration_credit_card,
                as: :string,
                class: 'form-control',
                required: true,
                autofocus: true ,
                label: 'Vencimiento de tarjeta de crédito:' ,
                input_html: { data: {provide: 'datepicker', 'date-format' =>"yyyy-mm-dd"}, required: true }%>


  </div>
  <div class="form-actions">
    <%= f.button :submit, "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
