<%= simple_form_for [:admin, @residence] do |residence| %>
  <%= residence.input :name, label: 'Nombre', required: true %>
  <%= residence.input :location, label: 'Ubicacion', required: true %>
  <%= residence.input :capacity, label: 'Capacidad' %>
  <%= residence.input :photos ,label: 'URL'%>
  <div>
        <%= residence.submit 'Guardar Residencia', class:'btn btn-info' %>
        <%= link_to 'Atras', admin_residences_path, class: 'btn btn-outline-info' %>
  </div>
<% end %>
