<%= simple_form_for [:admin, @residence] do |residence| %>
  <%= residence.input :name, label: 'Nombre', required: true %>
  <%= residence.input :location, label: 'Ubicacion', required: true %>
  <%= residence.input :capacity, label: 'Capacidad' %>
  <%= residence.input :photos ,label: 'URL'%>
  <div>
    <div class="row justify-content-start">
      <div class="col-4">
        <%= residence.submit 'Guardar Residencia', class:'btn btn-info' %>
      </div>
      <div class="col-8">
        <%= link_to 'Atras', residences_path, class: 'btn btn-light' %>
      </div>
    </div>
  </div>
<% end %>
