<% flash.each do |key, value| %>
<div class="alert alert-<%=key%>"><%=value%></div>
<%end%>
<h3>Residencias</h3>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Ubicacion</th>
    <th>Capacidad</th>
    <th>Fotos</th>
    <th>Acciones</th>
  </tr>
  <%@residences.order(:name).each do |residence|%>
    <% if !residence.deleted %>

      <tr>
        <td><%= residence.name %></td>
        <td><%= residence.location %></td>
        <td><%= residence.capacity %></td>
        <td><%= residence.photos %></td>
        <td>
          <%= link_to [:edit, :admin, residence], class:"btn btn-info" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <%end%>
          <%= link_to [:admin, residence], method: :delete, class:"btn btn-danger", data: { confirm: '¿Quiere eliminar la residencia realmente?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>

        </td>
        <% end %>
      </tr>
    <%end%>

 <%end%>
</table>

<div>
  <%= link_to 'Nueva Residencia', new_admin_residence_path, class: 'btn btn-info' %>
</div>
