
<% if !current_user.premium? %>
  <h3>Subastas</h3>

  <table class="table">
  <tr>
    <th>Residencia</th>
    <th>Fecha de reserva</th>
    <% if current_user.admin? %>
      <th>Inicio de subasta</th>
    <% end%>
    <th>Precio actual</th>
    <th>Mejor postor</th>
    <th>Adjudicada a:</th>
    <th>Accion</th>

  </tr>
  <%@auctions.each do |auction|%>
  <tr>
    <td><%=auction.residence.name %></td>
    <td><%=auction.reservation&.reservation_date%></td>
    <% if current_user.admin? %>
      <td><%=auction.startDate%></td>
    <% end%>
    <td><%=auction.offers.last&.amount%></td>
    <td>
      <% if !auction.offers.any? %>
          <%='Nadie aún'%>
      <% else %>
        <%=auction.offers.last.user.email%>
      <% end %>
    </td>

    <td>
      <% if auction.user.admin? %>
          <%='Nadie aún'%>
      <% else %>
        <%=auction.user.email%>
      <% end %>
    </td>

    <% if !current_user.admin? %>

      <% if auction.startDate > Date.today %>
        <td><button type="button" class="btn btn-success" disabled>Subastar</button></td>
      <% else %>

        <% if auction.user.admin? %>
          <td><%=link_to 'Subastar', new_auction_offer_path(auction.id), class: 'btn btn-outline-success'%></td>
        <% else %>
          <td><button type="button" class="btn btn-success" disabled>Subastar</button></td>
        <% end %>

      <% end %>

    <% else %>
      <% if auction.startDate < Date.today + 3.days %>

        <% if auction.user.admin? %>
          <td><%=button_to 'Terminar subasta', [:close, auction], class:"btn btn-seccess", data: { confirm: '¿Quiere termina la subasta?' }%></td>
          <% else %>
            <td><button type="button" class="btn success" disabled>Terminar subasta</button></td>
          <% end %>

      <% else %>
        <td><button type="button" class="btn success" disabled>Terminar subasta</button></td>
      <% end %>

    <% end %>
  </tr>
  <%end%>
  </table>
<% end %>



<% if current_user.premium? %>
  <h3>Reservas</h3>
  <table class="table">
  <tr>
    <th>Residencia</th>
    <th>Fecha de reserva</th>
    <% if !current_user.admin? %>
      <th>Accion</th>
    <%end%>
  </tr>
  <% @auctions.each do |auction|%>
  <tr>
    <td><%=auction.residence.name %></td>
    <td><%=auction.startDate%></td>

    <% if auction.startDate > Date.today %> <%# Si esta cerrada  %>

      <% if auction.user.admin? %> <%# Si no esta adjudicada  %>
        <td><%=button_to 'Reservar', [:reserve, auction], class:"btn btn-seccess", data: { confirm: '¿Quiere reservar la residencia?' }%></td>

      <% else %> <%# Si esta adjudicada %>
        <td><button type="button" class="btn success" disabled>Reservar</button></td>
      <% end %>

    <% else %> <%# Si esta abierta %>
      <% if auction.user.admin? %> <%# Si no esta adjudicada  %>
        <td><%=link_to 'Subastar', new_auction_offer_path(auction.id), class: 'btn btn-outline-success'%></td>
      <% else %> <%# Si esta adjudicada  %>
        <td><button type="button" class="btn success" disabled>Subastar</button></td>
      <% end %>
    <% end %>

  </tr>
  <%end%>
  </table>
<% end %>

<% if current_user.try(:admin?) %>
  <div>
    <%= link_to 'Agregar subasta', new_auction_path, class: 'btn btn-info'%>
  </div>
<% end %>
