<br>
<h3> Nueva subasta </h3>

<%= simple_form_for @auction do |auction| %>
  <%= auction.input :residence_id, :collection => %w[@auction.all] %>
  <%= auction.input :startDate, label: 'Fecha', required: true %>
  <div>

    <div class="row justify-content-start">
      <div class="col-4">
        <%= auction.submit 'Guardar subasta', class:'btn btn-info' %>
      </div>
      <div class="col-8">
        <%= link_to 'Atras', auctions_path, class: 'btn btn-light' %>
      </div>
    </div>
  </div>
<% end %>
