<<<<<<< HEAD
<h2>Change your password</h2>
=======
<h2>Cambio de contrase単a</h2>
>>>>>>> 5d1d88d6f44f5daf031987a16db86f698b390abe

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password,
<<<<<<< HEAD
                label: "New password",
=======
                label: "Nueva contrase単a",
>>>>>>> 5d1d88d6f44f5daf031987a16db86f698b390abe
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
<<<<<<< HEAD
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
=======
    <%= f.input :password_confirmation, label: "Confirmar nueva contrase単a", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cambiar contrase単a" %>
>>>>>>> 5d1d88d6f44f5daf031987a16db86f698b390abe
  </div>
<% end %>

<%= render "devise/shared/links" %>
