<<<<<<< HEAD
<h2>Forgot your password?</h2>
=======
<h2>¿Has olvidado la contraseña?</h2>
>>>>>>> 5d1d88d6f44f5daf031987a16db86f698b390abe

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
<<<<<<< HEAD
    <%= f.button :submit, "Send me reset password instructions" %>
=======
    <%= f.button :submit, "Enviar instrucciones para reseteo" %>
>>>>>>> 5d1d88d6f44f5daf031987a16db86f698b390abe
  </div>
<% end %>

<%= render "devise/shared/links" %>
