<h2>Iniciar sesión</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Iniciar sesión" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<img src="https://lh6.googleusercontent.com/UP4k1KGdWvagxMl-yx26-1D1n_GqlJn_VeCq8hQXeHfVGtFEj3lzhRUPo17KtI1lUPXeA_WCRpTcQ5_alsrb=w1920-h957" class="img-fluid" alt="Responsive image">
<img src="https://lh5.googleusercontent.com/JVs0p5DfxcIeKfdIykf07JhImFm4qTkIA8cDq-TN-3NOvjyoWqEl-2HUYOKU3zrbuWeiUBW8a0-9XdLebxtW=w1920-h957" class="rounded float-right" alt="...">
<img src="https://lh4.googleusercontent.com/eUEw8D-QFss2bsZarvm8hpKxVi1vu71F-7FF6A3e5thaZIC0_RmbV8aipPtohI2BXISX6Zpnmo0iBSH4bwGd=w1920-h957" class="rounded float-left" alt="...">
