
<h3>Residencias</h3>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>País</th>
    <th>Ciudad</th>
    <th>Código postal</th>
    <th>Direccón</th>
    <th>Capacidad</th>
    <th>Foto</th>
    <% if current_user.try(:admin?) %>
      <th>Accion</th>
    <% end %>
  </tr>
  <%@residences.order(:name).each do |residence|%>
  <% if !residence.deleted %>
    <tr>
      <td><%= link_to residence.name, residence_path(residence.id) %></td>
      <td><%= residence.country %></td>
      <td><%= residence.city %></td>
      <td><%= residence.zip %></td>
      <td><%= residence.address %></td>
      <td><%= residence.capacity %></td>
      <td>
        <% unless residence.photos.blank? %>
          <%= link_to residence.photos, target: :_blank do %>
          <%= image_tag residence.photos, width: 60, height: 60 %>
          <% end %>
        <% end %>
      </td>
      <td>
      <% if current_user.try(:admin?) %>
          <%= link_to [:edit, residence], class:"btn btn-info" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <%end%>
          <%= link_to [residence], method: :delete, class:"btn btn-danger", data: { confirm: '¿Quiere eliminar la residencia realmente?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
 <%end%>
</table>

<% if current_user.try(:admin?) %>
  <div>
    <%= link_to 'Nueva Residencia', new_residence_path, class: 'btn btn-info' %>
  </div>
<% end %>
