<h1>Residencias</h1>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Ubicacion</th>
    <th>Capacidad</th>
    <th>Fotos</th>
  </tr>
  <%@residences.each do |residence|%>
  <tr>
    <td><%= residence.name %></td>
    <td><%= residence.location %></td>
    <td><%= residence.capacity %></td>
    <td><%= residence.photos %></td>
    <td>
      <%= link_to edit_residence_path(residence), class:"btn btn-info" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <%end%>
    </td>
    <td>
      <%= link_to edit_residence_path(residence), class:"btn btn-danger" do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <%end%>
    </td>
  </tr>
 <%end%>
</table>

<%= link_to new_residence_path, class: 'btn btn-primary' do %>
  <i class="fa fa-plus-square" aria-hidden="true"></i>
<%end%>
