<% flash.each do |key, value| %>
<div class="alert alert-<%=key%>"><%=value%></div>
<%end%>
<h3>Residencias</h3>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Ubicacion</th>
    <th>Capacidad</th>
    <th>Fotos</th>
  </tr>
  <%@residences.order(:name).each do |residence|%>
  <% if !residence.deleted %>
    <tr>
      <td><%= residence.name %></td>
      <td><%= residence.location %></td>
      <td><%= residence.capacity %></td>
      <td>
        <% unless residence.photos.blank? %>
          <%= link_to residence.photos, target: :_blank do %>
          <%= image_tag residence.photos, width: 60, height: 60 %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
 <%end%>
</table>
