<% flash.each do |key, value| %>
<div class="alert alert-<%=key%>"><%=value%></div>
<%end%>
<h3>Residencias</h3>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Ubicacion</th>
    <th>Capacidad</th>
    <th>Fotos</th>
  </tr>
  <%@residences.order(:name).each do |residence|%>
  <% if !residence.deleted %>
    <tr>
      <td><%= residence.name %></td>
      <td><%= residence.location %></td>
      <td><%= residence.capacity %></td>
      <td><%= residence.photos %></td>
    </tr>
  <% end %>
 <%end%>
</table>
