<h1> <%= @residence.name %> </h1>
<div class="card">
  <div class="card">
    <%= image_tag @residence.photos %>
  </div>

  <div class="card-header">
    Detalle
  </div>
  <div class="card-body">
    <h5 class="card-title">Vení a cononcer <%=@residence.name%></h5>
    <p class="card-text">Ubicado en <%=@residence.country_name%> en la ciudad de <%=@residence.city%></p>
    <p class="card-text">Direccion: <%=@residence.address%></p>
    <% if !@residence.description.empty? %>
      <p class="card-text">Descripcion: <%=@residence.description%></p>
    <% end %>

</div>
</div>
<table class="table">
  <tr>
    <th>Fechas de reserva</th>
    <th>Inicio de subasta</th>
    <th>Accion</th>
  </tr>
  <% @residence.reservations.where('reservation_date > ?', Date.today).limit(10).order(:reservation_date).each do |r| %>
    <tr>
        <td><%= r.reservation_date %></td>
        <td>
            <%= r.auction.startDate %>
        </td>
          <% if current_user.premium? %>
            <% if r.auction.startDate > Date.today %> <%# Si esta cerrada  %>

              <% if r.auction.user.nil? %> <%# Si no esta adjudicada  %>
                <td><%=button_to 'Reservar', [:reserve, r.auction], class:"btn btn-success", data: { confirm: '¿Quiere reservar la residencia?' }%></td>

              <% else %> <%# Si esta adjudicada %>
                <td><button type="button" class="btn success" disabled>Reservar</button></td>
              <% end %>

            <% else %> <%# Si esta abierta %>
              <% if r.user.nil? %> <%# Si no esta adjudicada  %>
                <td><%=link_to 'Subastar', new_auction_offer_path(r.auction.id), class: 'btn btn-outline-success'%></td>
              <% else %> <%# Si esta adjudicada  %>
                <td><button type="button" class="btn success" disabled>Subastar</button></td>
              <% end %>
              <% end %>
            <% else %>

            <% if r.auction.startDate > Date.today %>
              <td><button type="button" class="btn btn-success" disabled>Subastar</button></td>
            <% else %>

              <% if r.auction.user.nil? %>
                <td><%=link_to 'Subastar', new_auction_offer_path(r.auction.id), class: 'btn btn-outline-success'%></td>
              <% else %>
                <td><button type="button" class="btn btn-success" disabled>Subastar</button></td>
              <% end %>

            <% end %>

            <% end %>
    </tr>
  <% end %>
</table>
