<h3>Usuarios</h3>
<table class="table">
  <tr>
    <td>Apellido</td>
    <td>Nombre</td>
    <td>Categoria</td>
    <td>Accion</td>
    <td>Tarjeta</td>
    <td>e-mail</td>
  </tr>
  <%@users.order(:last_name).each do |user|%>
  <% if !user.admin? %>
    <tr>
      <th><%= user.last_name %></th>
      <th><%= user.name %></th>
      <th><% if user.premium == false %>
          <%="Basico"%>
          <% else "Premium"%>
          <%end%>
      </th>
      <th><% if user.premium == false %>
            <%= simple_form_for [:admin, user] do |u| %>
              <%= u.input :premium, as: :hidden, input_html: { value: true } %>
              <%= u.submit "Pasar a Premium" %>
            <% end %>
          <%else%>
            <%= simple_form_for [:admin, user] do |u| %>
              <%= u.input :premium, as: :hidden, input_html: { value: false } %>
              <%= u.submit "Pasar a Basico" %>
            <% end %>
        <%end%>
      </th>
      <th><%= user.credit_card%></th>
      <th><%= user.email%></th>
    </tr>
  <%end%>
<%end%>
</table>
