<h3>Usuarios</h3>
<table class="table">
  <tr>
    <th>ID usuario</th>
    <th>Apellido</th>
    <th>Nombre</th>
    <th>Categoria</th>
    <th>e-mail</th>
    <th>Creditos</th>
    <th>Accion</th>
  </tr>
  <%@users.order(:last_name).each do |user|%>
  <% if !user.admin? %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.last_name %></td>
      <td><%= user.name %></td>
      <td>
        <% if user.premium == true %>
          <%= 'Premium' %>
        <% end %>
        <% if user.premium == false %>
          <%= 'Basico' %>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.credit %></td>
      <td><% if user.premium == false %>
            <%= simple_form_for [:admin, user] do |u| %>
              <%= u.input :premium, as: :hidden, input_html: { value: true } %>
              <%= u.submit "Pasar a Premium", class:'btn btn-info', data: { confirm: '¿Esta seguro que desea cambiar la categoria del usuario a Premium?' } %>
            <% end %>
          <%else%>
            <%= simple_form_for [:admin, user] do |u| %>
              <%= u.input :premium, as: :hidden, input_html: { value: false } %>
              <%= u.submit "Pasar a Basico" , class:'btn btn-info' , data: { confirm: '¿Esta seguro que desea cambiar la categoria del usuario a Basico?' }%>
            <% end %>
        <%end%>

      </td>
    </tr>
  <%end%>
<%end%>
</table>
<%= link_to 'Actualizar Creditos', admin_user_path(:id), class: 'btn btn-info' %>
