<!DOCTYPE html>
<html>
  <head>
    <title>HomeSwitchHome</title>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <%= link_to residences_path, class: 'navbar-brand' do %>
        <%= image_tag "HSH-Logo.svg", width: 60, height: 60, title: "Logo", class: "logo" %>
          HomeSwitchHome
        <% end %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link disabled">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="residences">Residencias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="auctions">Subastas</a>
            </li>
          </ul>
    </div>

    </nav>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <br>
      <%= yield %>
    </div>
  </body>
</html>
